html, body{
    background-color: #434535;
}
.text1{
    justify-content: center;
    display: flex;
    color: white;
    font-family: roboto;
}
.text2{
    justify-content: center;
    display: flex;
    color: white;
    font-family: roboto;
    font-size: 24px;
}